aioftp==0.20.1
aiohttp==3.8.4
aiohttp-apispec==2.2.3
aiohttp-jinja2==1.5
aiohttp-security==0.4.0
aiohttp-session==2.9.0
aiosignal==1.3.1
alabaster==0.7.13
apispec==3.3.2
async-timeout==4.0.2
asyncssh==2.11.0
attrs==23.1.0
Babel==2.12.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
contourpy==1.1.0
cryptography==41.0.1
cssselect2==0.7.0
cycler==0.11.0
dirhash==0.2.0
dnspython==2.1.0
docker==4.2.0
docutils==0.16
donut-shellcode==0.9.2
fonttools==4.40.0
frozenlist==1.3.3
idna==3.4
imagesize==1.4.1
importlib-metadata==6.7.0
importlib-resources==5.12.0
Jinja2==3.0.3
kiwisolver==1.4.4
ldap3==2.8.1
lxml==4.9.2
Markdown==3.3.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.5.1
marshmallow-enum==1.5.1
matplotlib==3.7.1
mdit-py-plugins==0.3.5
mdurl==0.1.2
multidict==6.0.4
myst-parser==0.18.0
numpy==1.24.4
packaging==23.1
pandas==2.0.2
pathspec==0.11.1
Pillow==9.5.0
pyasn1==0.5.0
pycparser==2.21
Pygments==2.15.1
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
reportlab==3.6.12
requests==2.31.0
scantree==0.0.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.1.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
svglib==1.0.1
tinycss2==1.2.1
typing-extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
webargs==5.5.3
webencodings==0.5.1
websocket-client==1.6.1
websockets==11.0.3
yarl==1.9.2
zipp==3.15.0
